body{margin:0}
.top{
    
}
.top .quickmenu{
    margin:10px 0 30px 0;
    font-size: 11px;
    color: #999;
    text-align: right;
}
.top h1{
    display: inline;
}
.top h1 img{
    width:150px;
}
.top .search{
    margin-bottom:30px;
}
.menu{
    
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
}

.contents{
    
    background: #ddd;
}
.centerbox{
    width:965px;
    background: #fff;
    margin:0 auto 0 auto;
}